<div class="sidebar-wrap">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                <ul class="sub-menu">
                    <li><a href="{:url('project/index')}"><i class="icon-font">&#xe008;</i>产品管理</a></li>
                    <li><a href="{:url('project/cateList')}"><i class="icon-font">&#xe006;</i>分类管理</a></li>
                    <li><a href="{:url('index/user_info')}"><i class="icon-font">&#xe004;</i>会员管理</a></li>
                    <li><a href="{:url('index/user_rank')}"><i class="icon-font">&#xe004;</i>会员等级</a></li>
                    <li><a href="{:url('comment/index')}"><i class="icon-font">&#xe004;</i>评论管理</a></li>
                </ul>
            </li>
            <!--<li>-->
                <!--<a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li><a href="{:url('index/setting')}"><i class="icon-font">&#xe017;</i>系统设置</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</div>