<div class="header" id="home">
    <div class="container">
        <div class="head">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand logo wow fadeInLeft animated" data-wow-delay=".5s">
                        <h1><a href="index.html">意<br>灵<br><span>玻<br>艺</span><br>工<br>坊</a></h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav wow fadeInDown animated" data-wow-delay=".5s">
                        <li><a href="#home" class=" scroll"><span data-hover="Home">首页</span></a></li>
                        <li><a href="#about" class=" scroll"><span data-hover="About">关于我们</span> </a></li>
                        <li><a href="#gallery" class="scroll"><span data-hover="Gallery">陈列区</span></a></li>
                        <li><a href="#services" class="scroll"><span data-hover="Services">服务区</span> </a></li>
                        <li><a href="#events" class="scroll"><span data-hover="Events">项目区</span> </a></li>
                        <li><a href="#team" class="scroll"><span data-hover="Team">团队</span> </a></li>
                        <li><a href="#contact" class=" scroll"><span data-hover="Contact">联系我们</span></a></li>
                        <li><a href="" class=" scroll"><span data-hover="Contact">即时通讯</span></a></li>
                        <li><a href="https://shop122505519.taobao.com/">我们的店铺</a></li>
                        <li><a href="{:url('index/index/layui')}">LAYUI</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

        </div>
    </div>
</div>